
<div class="login-form-flex">
    <mat-card>
            <mat-card-title class="card-title">
                  <div class="title"> Create new comment</div> 
            </mat-card-title>
            <mat-card-content>
                   <form [formGroup]="commentForm"  (submit)="onSubmit()">
                    <mat-form-field appearance="outline">
                        <mat-label>Theme</mat-label>
                       
                     <mat-select [(value)]="selected" name="ampm" class="ampm" >
                          <mat-option value="1">Science</mat-option>
                          <mat-option value="2">Culture</mat-option>
                          <mat-option value="3">Sport</mat-option>
                          <mat-option value="4">Music</mat-option>
                     </mat-select>
                   </mat-form-field>
                   <mat-form-field>
                    <textarea matInput MatFormFieldControl formControlName="textComment" placeholder="Comment text"></textarea>
                   </mat-form-field>
                   
                            <br/>
<div class="button-flex-container">
    <button  type="submit" mat-button class="addButton" >Add comment</button>
</div>
                                    
                          
                           
                    </form>
                  
            </mat-card-content>


    </mat-card>
</div>