.card-title{

    justify-content: center;
    display: flex;
    height: 30%;

  }
  .title{
    padding: 10px;
  }

  .button-activate{

  background: #70D486;  
  }

  .div-button{
    padding: 20px;
  }

  .spinner {
    display: block;
    position: fixed;
    top: 50%;
    right: 50%;
    margin-top: -25px; 
    margin-right: -20px; 
     /* or: left: 50%; */
  }