
<div class="buttons">

</div>

    <div class="content">
        <table mat-table  class="mat-elevation-z8 demo-table" >

        
            <tr>
              <th mat-header-cell>Name</th>
              <th mat-header-cell >Surname</th>
              <th mat-header-cell >Username</th>
              <th mat-header-cell >Email</th>
              <th mat-header-cell >Role</th>
              <th mat-header-cell >Permissions</th>
              <th mat-header-cell >Activation</th>
            </tr>
            <tr *ngFor="let user of dataSource">
              <td mat-cell >{{user.name}}</td>
              <td mat-cell>{{user.surname}}</td>
              <td mat-cell>{{user.username}}</td>
              <td mat-cell>{{user.email}}</td>
              <td mat-cell (click)="changeRole(user.id)">{{user.role}}</td>
              <td mat-cell  (click)="addPermissions(user.id)">
                <span *ngIf="!user.permissions.length">User doesn't have any permissions<br/>
                  Add permission</span>
                <span *ngFor="let perm of user.permissions">{{perm.permissionName}}  </span></td>
              <td *ngIf="show" mat-cell><button mat-flat-button color="green" (click)="deactivateUser(user.id)">Deactivate</button></td>
            </tr>
           
                    
                  
                  
                
          
                </table>
    </div>
   




