<div class="login-form-flex">
        <mat-spinner class="spinner" *ngIf="showSpinner" mode="indeterminate" color="primary" aria-label="Rating">
                <div>Loading...</div>
        </mat-spinner>

        <mat-card>
                <mat-card-title class="card-title">
                        <div class="title"> Login</div>
                </mat-card-title>
                <mat-card-content>
                        <form [formGroup]="myForm" (submit)="onSubmit()">
                                <mat-form-field>

                                        <input matInput type="text" MatFormFieldControl formControlName="username"
                                                placeholder="User Name">
                                </mat-form-field>
                                <br />
                                <mat-form-field>
                                        <input matInput type="password" formControlName="password"
                                                placeholder="Password" />
                                </mat-form-field>
                                <br />
                                <div class="button-flex-container">
                                        <button type="submit" mat-raised-button color="primary">Login</button>
                                </div>



                        </form>
                        <div class="register">
                                Register&nbsp; <a class="navigation" (click)="navigate()"> here </a> &nbsp;if you don't
                                have account!
                        </div>
                        <div class="register1">
                                Or
                        </div>
                        <div class="register2">
                                Login with <a (click)="loginClick()" class="navigation">&nbsp;Google</a>
                        </div>
                </mat-card-content>


        </mat-card>
</div>