<mat-toolbar class="toolbar">
    Internet forum
  </mat-toolbar>

    <mat-nav-list class="list-horizontal">
 <div class="div-nav">
    <mat-list-item>
      <a href="">Nauka</a>
      </mat-list-item>
      <mat-list-item>
        <a href="">Kultura</a>
      </mat-list-item>
      <mat-list-item>
        <a href>Sport</a>
      </mat-list-item>
      <mat-list-item>
        <a href>Muzika</a>
      </mat-list-item>
 </div>     
 <div class="div-nav">
    <mat-list-item>
        <a href>Nalog</a>
      </mat-list-item>
      <mat-list-item>
        <a href>Odjavi se</a>
      </mat-list-item>
 </div>
    </mat-nav-list>

  <div class="basic-container">
    
  </div>