.main {
  height: 100%;
  width: 100%;
}

.menu {
  display: flex;
  width: 100%;
  height: 7vh;
  
}

mat-toolbar {
  justify-content: center;
  display: flex;
  background-color: #76E18E;
  color: white;
  font-size: 30px;
  height: 100%;
}

.div-nav mat-list-item {

  display: flex;
  width: auto;
  vertical-align: center;
  text-align: center;
  padding: 10px;
  align-items: center;
  height: 100%;
}

.toolbar {
  height: 8vh;
  padding: 0px;
  
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  height: 100%;

}

.active {
background: #2f6c3d;
}


.list-horizontal {
  padding: 0;
  align-items: center;
  vertical-align: center;
  display: flex;
  width: 100%;
  background-color: #70D486;
  justify-content: space-between;
  display: flex;
  height: 100%;
}

.div-nav {
  display: flex;

  height: 100%;
}


.label-menu{
  color: white;
  justify-self: center;
  font-size: 20px;
  vertical-align: middle;
  height: 100%;
}

.white-icon {
  color: white;
  vertical-align: middle;
  height: 100%;
}

.content{
  top: 20%;
  height: 85vh;
}

.top{
  height: 15vh;
}