<div class="main">
  <div class="top">
    <div class="toolbar">
    <mat-toolbar >
      Internet forum
    </mat-toolbar>
  </div>
 
    
    <div class="menu">
      <mat-nav-list class="list-horizontal">
        <div class="div-nav">
          <mat-list-item mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon class="white-icon">more_vert</mat-icon>
            <span class="label-menu">Themes</span>
          </mat-list-item>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="showComments(4)">
              <mat-icon>music_note</mat-icon>
              <span>Music</span>
            </button>
            <button mat-menu-item (click)="showComments(2)">
              <mat-icon>account_balance</mat-icon>
              <span>Culture</span>
            </button>
            <button mat-menu-item (click)="showComments(3)">
              <mat-icon>pool</mat-icon>
              <span>Sport</span>
            </button>
            <button mat-menu-item (click)="showComments(1)">
              <mat-icon>explore</mat-icon>
              <span>Science</span>
            </button>
          </mat-menu>
        </div>
        <div class="div-nav">
          <mat-list-item *ngIf="isRoleAdmin" mat-button [matMenuTriggerFor]="adminMenu"
            aria-label="Example icon-button with a menu" class="menu-button">
            <mat-icon class="white-icon">settings</mat-icon>
            <span class="label-menu">Administrator management</span>
          </mat-list-item>
          <mat-menu #adminMenu="matMenu">
  
            <button mat-menu-item (click)="showUsers($event)">
              <mat-icon>supervisor_account</mat-icon>
              <span>Unactivated users</span>
            </button>
            <button mat-menu-item (click)="showActiveUsers()">
              <mat-icon>supervisor_account</mat-icon>
              <span>Activated users</span>
            </button>
          </mat-menu>
          <mat-list-item *ngIf="isRoleModerator" mat-button [matMenuTriggerFor]="moderatorMenu"
            aria-label="Example icon-button with a menu" class="menu-button">
            <mat-icon class="white-icon">settings</mat-icon>
            <span class="label-menu">Moderator management</span>
          </mat-list-item>
          <mat-menu #moderatorMenu="matMenu">
            <button mat-menu-item (click)="showUnapprovedComments()">
              <mat-icon>comment</mat-icon>
              <span>Unapproved comments</span>
            </button>
  
          </mat-menu>
          <mat-list-item>
            <a href (click)="logout()"><mat-icon>logout</mat-icon></a>
          </mat-list-item>
        </div>
      </mat-nav-list>
    </div>
  </div>
  
  <div  class="content">
   <router-outlet></router-outlet>
  </div>






</div>