<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="space-between center">
    <div>
        <button md-button>Home</button>
        <button md-button>Item 1</button>
            <button md-button>Item 2</button>
        <menu md>
            <button md-button md-menu-origin ng-click="$mdOpenMenu()">Help</button>
            <button menu-content md width="2">
                <button menu-item md>
                    <button md>Help</button>
                </button>
                <button menu-item md>
                    <button md>About</button>
                </button>
            </button>
        </menu>
    </div>
    <div class="nav-buttons">
        <button md class="md-raised md-accent">My profile</button>
        <button md class="md-raised md-warn">Log Out</button>
    </div>